html {background: #000 url(img/bcbg.jpg) center 104px no-repeat;; margin: 0; padding: 0; font-family: 'Arial' sans-serif;}
body {background: transparent;}

.clear{width: 100%; clear: both;}

strong {font-weight: bold;}
sup {font-size: 8px; vertical-align: top;}
sub {font-size: 8px; vertical-align: bottom;}
em {font-style: italic;}
blockquote {width: 80%; margin: 0 auto 10px; padding: 0; font-size: 16px; font-style: italic;}
blockquote cite {font-size: 12px; float: right; clear: both;}
small {font-size: 9px;}

hr {background: #99816e;}
	
h1 {text-transform: uppercase; font-weight: 600; font-style: italic; font-size: 20px; color: #3a3d40; margin: 0; padding: 0;}
h2 {text-transform: uppercase; font-weight: 600; font-style: italic; font-size: 18px; color: #3a3d40; margin: 0; padding: 0;}
h3 {text-transform: uppercase; font-weight: 600; font-style: italic; font-size: 16px; color: #3a3d40; margin: 0; padding: 0;}
h4 {text-transform: uppercase; font-weight: 600; font-style: italic; font-size: 14px; color: #3a3d40; margin: 0; padding: 0;}
h5 {text-transform: uppercase; font-weight: 600; font-style: italic; font-size: 12px; color: #3a3d40; margin: 0; padding: 0;}
h6 {text-transform: uppercase; font-weight: 600; font-style: italic; font-size: 10px; color: #3a3d40; margin: 0; padding: 0;}


.maint {background: #000 url(img/mustard.png) top center repeat; color: #000; border-color: red;}
 .maint h2 {margin-top: 0px;}
 .maintenance-page {margin: 0; background: #000 url(img/branding-outer-wrapper-bg.jpg) top center repeat-x}
 .maintenance-page #header {margin: 0;}

#message-container {background: transparent; position: fixed; bottom: 0; width: 90%; z-index: 9998;}
#content-tabs {background: transparent; position: fixed; bottom: 0; right: 0; width: auto; z-index: 9998; border: 0; margin: 0; padding: 0;}
#content-tabs ul {margin: 0; padding: 0;}
#content-tabs ul li {margin: 0; padding: 0;}

#branding-outer-wrapper {height: 104px; background: url(img/branding-outer-wrapper-bg.jpg) left top repeat-x;}

#nice-menu-1 {background: transparent; position: absolute; top: 0; left: 0; margin: -15px 0 0 125px;}
#nice-menu-1 li {background: transparent; border: 0; border-right: 1px solid #bcbec0;}
#nice-menu-1 li.last {border: 0;}
#nice-menu-1 li a {color: #bcbec0; padding: 0 6px;}
#nice-menu-1 li a:hover {color: #e60000;}

#nice-menu-2 {background: transparent; position: absolute; top: 0; left: 0; margin: -15px 0 0 550px;}
#nice-menu-2 li {background: transparent; border: 0; border-right: 1px solid #bcbec0;}
#nice-menu-2 li.last {border: 0;}
#nice-menu-2 li a {color: #bcbec0; padding: 0 6px;}
#nice-menu-2 li a:hover {color: #e60000;}

#header-after-wrapper {height: 33px; width: 1040px; background: transparent url(img/header-after-wrapper-bg.png) center top no-repeat; position: absolute; top: 104px; left: 50%; margin-left: -520px; z-index: -999}
#preface-container, #location-container, #content-container, #content-after-wrapper {background: transparent url(img/mustard.png) left top repeat;}
#content-after-wrapper {width: 960px; height: 20px; margin: 0 auto 10px auto; -moz-border-radius: 0 0 30px 30px; -webkit-border-radius: 0 0 30px 30px; border-radius: 0 0 30px 30px;}


#region-preface_first { }

/* footer style */
.region-footer-first {color: #a7a9ac;}
.region-footer-first a {color: #a7a9ac;}
.region-footer-first a:hover {color: #e60000;}
.region-footer-first ul {list-style: none; margin: 0; padding: 0;}
.region-footer-first ul li {float: left; display: inline;}

.region-footer-second {color: #a7a9ac; text-align: right;}
.region-footer-second a {color: #a7a9ac;}
.region-footer-second a:hover {color: #e60000;}

/* Breadcrumbs */
.breadcrumb {padding: 3px; 0; font-size: 11px; color: #81725b; border-bottom: 1px dashed #81725b; margin: 0 auto 10px auto;}
.breadcrumb a {color: #81725b;}
.breadcrumb a:hover {color: #e60000;}
.breadcrumb .breadcrumb-page {font-weight: bold;}

/* Begin Views Styling */
#slidewrap {width: 100%; float: left; clear: both; margin: 0px auto;}
#slideshade {position: absolute; height: 415px; width: 248px; z-index: 1; top: 0px; right: 0; background: transparent url(img/frontslide-mask.png) top right no-repeat;}
#slidedeck {position: absolute; height: 415px; width: 248px; z-index: 2; top: 0px; right: 0; background: transparent url(img/frontslide-deck.png) bottom right no-repeat;}
#catlink {width: 248px; height: 230px; float: left; clear: both;}
 #catlink a {width: 248px; height: 230px; float: left; background: transparent url(img/catlink-bg.png) top left no-repeat;}
 #catlink a:hover {background: transparent url(img/catlink-bg-over.png) top left no-repeat;}

#newswrap {width: 165px; float: right; clear: both; margin-top: 5px; padding: 5px;}
 #newswrap .newsborder {width: 175px; height: 4px; float: left; clear: both; background: url(img/newsdeck-div.png) top center no-repeat;}
 #newstitle {width: 90%; font-weight: bold;}
 #newsdata {font-size: 11px; height: 105px; overflow: auto;}

#featuredprods {width: 100%; float: left; clear: both;}
 #featuredprods h4 {text-transform: uppercase; font-weight: 600; font-style: italic; font-size: 14px; color: #3a3d40; margin: 0; padding: 0;}
 #featuredprods h4 span {text-transform: none; font-weight: normal; font-size: 12px;}
 #proddock {float: left; clear: both; width: 100%; min-height: 100px; margin-bottom: 10px; background: #3a3d40; -moz-box-shadow: inset 0px 0px 5px #000; -webkit-box-shadow: inset 0px 0px 5px #000; box-shadow: inset 0px 0px 5px #000}

#fblikeit {width: 100%; float: left; clear: both; height: 22px; overflow: hidden; margin:0; padding: 0;}

#contestlink {position: absolute; top: 0; left: 0; z-index: 1; width: 111px; height: 111px; margin: -5px 0 0 -25px;}
 #contestlink a {width: 111px; height: 111px; float: left; background: url(img/contest-button.png) top left no-repeat;}
 #contestlink a:hover {background: url(img/contest-button-over.png) top left no-repeat;}

#preface-container .block {margin: 0; padding: 0;}

/* jCrousel Styling */
.jcarousel li {list-style: none;}
.jcarousel-item {width: 235px;}
.jci {width: 100%; float: left; text-align: center; margin-bottom: 15px;}
.jci .jciimg {width: 80%; float: left; clear: both; margin: 15px 0 10px 9.5%; padding: 5px 0; background: #fff; border: 2px solid #fff;}
.jci .jcititle a {color: #fff;}
.jci:hover {cursor: pointer;}
.jci:hover .jciimg, .jci .jciimg.active {border: 2px solid #e60000;}
.jci:hover .jcititle a {color: #e60000;}

.prodcontrols {position: absolute; right: 0; width: 160px; height: 22px; z-index: 1; font-size: 10px; margin: -21px 0 0 0; font-weight: bold;}
 .prodcontrols a {margin: 0 0 0 3px; padding: 1px 3px; border: 1px solid #000;}
 .prodcontrols a:hover, .prodcontrols a.active {background: #e60000; color: #000;}

/* Featured Products page */ 
.allprods {float: left; clear: both; width: 100%; min-height: 100px; margin-bottom: 10px; background: #3a3d40; -moz-box-shadow: inset 0px 0px 5px #000; -webkit-box-shadow: inset 0px 0px 5px #000; box-shadow: inset 0px 0px 5px #000}
.fprods-pager {width: 50%; position: absolute; top: 0; right: 0; text-align: right;}
.fprods-pager ul.pager {float: right; background: transparent; width: auto; border: 0;}
.fprods-pager div, .fprods-pager ul li, .fprods-pager ul li.pager-item, .fprods-pager ul li.pager-current, .fprods-pager ul li.active, .fprods-pager ul li a, .fprods-pager ul li:hover, .fprods-pager ul li a:hover {background: transparent; border: 0;}
.fprods-pager a, .fprods-pager ul li.pager-current {color: #000; font-weight: bold; font-size: 11px;}
.fprods-pager ul li a:hover, .fprods-pager ul li.pager-current {color: #e60000;}
.allprods .jci {width: 20%; float: left; text-align: center; margin-bottom: 15px;}
.allprods .jci .jciimg {width: 80%; float: left; clear: both; margin: 15px 0 10px 9.5%; padding: 5px 0; background: #fff; border: 2px solid #fff;}
.allprods .jci .jciimg img {margin: 0 auto; width: 90%;}
.allprods .jci .jcititle a {color: #fff;}
.allprods .jci:hover {cursor: pointer;}
.allprods .jci:hover .jciimg, .allprods .jci .jciimg.active {border: 2px solid #e60000;}
.allprods .jci:hover .jcititle a {color: #e60000;}
.allprods ul, .allprods ul li {list-style: none; margin: 0; padding: 0;}

/* Featured Products Node */
.node-type-featured-products .pagetitle {display: none;}
.prodimg {width: 46%; float: left; border: 1px solid #000; margin-right: 15px;}
.prodimg_big {float: left; clear: both; width: 100%; min-height: 100px; margin-bottom: 10px; background: #3a3d40; -moz-box-shadow: inset 0px 0px 5px #000; -webkit-box-shadow: inset 0px 0px 5px #000; box-shadow: inset 0px 0px 5px #000}
.prodimg_big img {padding: 10px; width: 86%; background: #fff; margin: 8px 0 6px 8px; border: 2px solid #e60000;}
.prodimg_title {float: left; clear: both; width: 100%; text-align: center; padding: 0px 0 10px 0; color: #fff;}
.prodimg_thumbs {width: 96%; float: left; margin: 8px 0 0 10px;}
.prodimg_thumbs span {width: 100%; float: left; clear: both;}
.prodimg_thumbs a {float: left; width: 82px; height: 65px; padding: 4px; background: #fff; margin: 0 10px 10px 0; border: 1px solid #fff;}
.prodimg_thumbs a:hover, .prodimg_thumbs a.active {border: 1px solid #e60000;}
.prodimg_thumbs a img {max-width: 95%; max-height: 95%;}
.proddesc {width: 50%; float: right; font-size: 11px;}
.proddesc .prodcat {font-style: italic; width: 75%; font-weight: bold;}
.proddesc .prodcat span {color: #ec6000; font-size: 12px; padding: 0 2px;}
.proddesc .prodtitle {width: 80%; margin: 10px 0 0 0;}
.proddesc .prodtitle h3 {text-transform: none;}
.proddesc .proddetails {width: 95%;}
.proddesc .proddetails ul {margin-left: 12px;}
.proddesc .proddetails p {margin-bottom: 0;}
.node-type-featured-products #fblikeit {width: 46%; float: left; clear: none; height: 22px; overflow: hidden; margin: 15px 0 0 0; padding: 0;}

/* Video Pages */
.treemenu {list-style: none; padding: 3px 0 3px 5px; margin: 0; font-weight: bold; border-bottom: 1px solid #99816e;}
.treemenu li a:hover {cursor: pointer; color: #e60000;}
.treemenu ul, .treemenu ul ul {list-style: none; padding: 0 0 0 10px; margin: 0;}

.vidsocial {margin: 5px 0 0px 0;}
.vidsocial #fblikeit, .vidsocial #ytube {width: 50%; float: left;}
.viddesc {width: 100%; float: left; clear: both; margin-top: 10px;}

#resback {width: 100%; float: left; min-height: 600px; background: url(img/featured-resource-bg.jpg) top center no-repeat;}

/* Who We Are Page */
.node-type-basic-pages h1.pagetitle {display: none;}

/* Contact Page */
#contactblock {width: 49%; float: left;}
#contactform {color: #fff; padding: 15px; background: #3a3d40; -moz-box-shadow: inset 0px 0px 5px #000; -webkit-box-shadow: inset 0px 0px 5px #000; box-shadow: inset 0px 0px 5px #000;}
#faqblock {width: 50%; float: left; margin: 0 0 0 1%;}

.imgblock {padding: 10px 10px 0 10px; background: #3a3d40; -moz-box-shadow: inset 0px 0px 5px #000; -webkit-box-shadow: inset 0px 0px 5px #000; box-shadow: inset 0px 0px 5px #000}
.imgblock img {margin-bottom: 10px;}

/* Dealer Form page-node-42 */
.page-node-42 #region-content {background: #3a3d40; -moz-box-shadow: inset 0px 0px 5px #000; -webkit-box-shadow: inset 0px 0px 5px #000; box-shadow: inset 0px 0px 5px #000}
.page-node-42 #region-content-inner {padding: 10px; color: #fff;}
.page-node-42 .pagetitle {color: #fff; text-transform: none; font-size: 18px; font-weight: normal;}

#dealerform {width: 90%; margin: 0 auto;}
#dealerform strong {float: left; width: 100%; clear: both; margin-top: 10px;}

#dealerform .dlapps {width: 60%; float: left; padding: 5px 0; border-top: 2px solid #fff; border-bottom: 2px solid #fff; clear: both; margin: 10px 0;}
#dealerform .dlapps a {width: 50%; float: left;}

#dealerform a {color: #e60000;}
#dealerform a:hover {color: #fff;}

/* Here comes the form */
#webform-component-company-name, #webform-component-address, #webform-component-city, #webform-component-state, #webform-component-zip, #webform-component-phone, #webform-component-fax, #webform-component-email, #webform-component-owners-name, #webform-component-buyers-name, #webform-component-is-home, #webform-component-retail-or-commercial {width: 100%; float: left; clear: both; margin: 2px 0; padding: 0;}
#webform-component-company-name label, #webform-component-address label, #webform-component-city label, #webform-component-state label, #webform-component-zip label, #webform-component-phone label, #webform-component-fax label, #webform-component-email label, #webform-component-owners-name label, #webform-component-buyers-name label {width: 25%; float: left;}
#webform-component-company-name input, #webform-component-address input, #webform-component-city input, #webform-component-state input, #webform-component-zip input, #webform-component-phone input, #webform-component-fax input, #webform-component-email input, #webform-component-owners-name input, #webform-component-buyers-name input {width: 45%; float: left;}
#webform-component-is-home label, #webform-component-retail-or-commercial label {width: 60%; float: left;}
#webform-component-is-home .form-item, #webform-component-retail-or-commercial .form-item {width: 8%; float: left;}
#webform-component-is-home .form-item input, #webform-component-retail-or-commercial .form-item input {float: left;}
#webform-component-is-home .form-item label, #webform-component-retail-or-commercial .form-item label {float: left; margin: -2px 0 0 5px;}

#webform-component-date-started {width: 50%; float: left; clear: left; margin: 2px 0; padding: 0;}
#webform-component-when-opening {width: 50%; float: left; margin: 2px 0; padding: 0;}

#webform-component-what-percentage, #webform-component-balance-consist, #webform-component-type-of-business {width: 100%; float: left; clear: both; margin: 2px 0; padding: 0;}
#webform-component-what-percentage {margin-top: 10px;}
#webform-component-what-percentage label {width: 75%; float: left;}
#webform-component-what-percentage input {width: 23%; float: left;}
#webform-component-what-percentage span {width: 2%; float: left;}

#webform-component-balance-consist label {width: 62%; float: left;}
#webform-component-balance-consist input {width: 38%; float: left;}

#webform-component-type-of-business label {width: 30%; float: left;}
#webform-component-type-of-business .form-item {width: auto; float: left; white-space: nowrap; margin-right: 5px;}
#webform-component-type-of-business input {float: left; margin: 4px 4px 0 0;}
#webform-component-type-of-business span {position: relative; float: left;}

#webform-component-atv {width: 10%; float: left; clear: left; margin: 2px 5px 2px 30%;}
#webform-component-atv input {width: 95%; float: left;}
#webform-component-atv span {width: 5%; float: left;}

#webform-component-harley {width: 10%; float: left; margin: 2px 5px 2px 10px;}
#webform-component-harley input {width: 95%; float: left;}
#webform-component-harley span {width: 5%; float: left;}

#webform-component-motorcycle {width: 10%; float: left; clear: right; margin: 2px 5px 2px 10px;}
#webform-component-motorcycle input {width: 95%; float: left;}
#webform-component-motorcycle span {width: 5%; float: left;}

#webform-component-shop-markup, #webform-component-motorcycle-dealer, #webform-component-atv-dealer, #webform-component-independent-shop, #webform-component-learn-about, #webform-component-formclose {width: 100%; float: left; clear: both; margin: 2px 0; padding: 0;}

#webform-component-motorcycle-dealer {width: 65%;}
#webform-component-motorcycle-dealer .form-item {width: auto; float: left; white-space: nowrap; margin-right: 5px;}
#webform-component-motorcycle-dealer input {float: left; margin: 4px 4px 0 0;}
#webform-component-motorcycle-dealer span {position: relative; float: left;}

#webform-component-atv-dealer {width: 65%;}
#webform-component-atv-dealer .form-item {width: auto; float: left; white-space: nowrap; margin-right: 5px;}
#webform-component-atv-dealer input {float: left; margin: 4px 4px 0 0;}
#webform-component-atv-dealer span {position: relative; float: left;}

#webform-component-independent-shop {width: 65%;}
#webform-component-independent-shop .form-item {width: auto; float: left; white-space: nowrap; margin-right: 5px;}
#webform-component-independent-shop input {float: left; margin: 4px 4px 0 0;}
#webform-component-independent-shop span {position: relative; float: left;}

#webform-component-learn-about label {width: 35%; float: left;}
#webform-component-learn-about input {width: 65%; float: left;}

#dealerform .form-actions {width: 100%; float: left; clear: both; text-align: center;}
#dealerform .form-actions #edit-clear {margin-left: 10px;}

/* Wallpapers */
.papshot {width: 350px; float: left;}
.papshot img {width: 350px;}
.papdesc {width: 340px; float: left; margin: 0 0 0 10px;}
.papitems a {width: 33%; float: left;}
.node-type-wallpapers .pagetitle {display: none;}
.pap .pagetitle {display: block}

.extrapaps {padding: 15px 15px 7px 15px; background: #3a3d40; -moz-box-shadow: inset 0px 0px 5px #000; -webkit-box-shadow: inset 0px 0px 5px #000; box-shadow: inset 0px 0px 5px #000;}
.extrapaps ul {list-style: none;}
.extrapaps ul li {width: 24%; float: left; margin: 0 8px 8px 0; padding: 0;}
.extrapaps ul li a {float: left; width: 100%; height: 121px; border: 1px solid #3a3d40; padding: 0; margin: 0;}
.extrapaps ul li a:hover {border: 1px solid #e60000;}
.extrapaps ul li a img {width: 100%; float: left; padding: 0; margin: 0;}