@import url("fonts/stylesheet.css");
/* This file will hold the main styles for your website. */
body {
	background:#000 url(img/page.jpg) top center repeat-y;
	font-family: 'AniversRegular',Arial,Helvetica;
	font-size:16px;
	line-height:20px;
}

#zone-branding-wrapper {
	/*background: url(img/zone-branding-wrapper.png) top center no-repeat;*/
	background: url(img/construction_header.png) top center no-repeat;
}

#section-footer {
	background: url(img/floor.png) bottom center no-repeat;
	height:331px;
}
#banners {
	height: 477px;
	width: 969px;
	margin: auto;
	background: url(img/sliderbg.png) no-repeat;
}
.cycleitem {
	margin-top:85px;
	margin-left:15px;
}
.staticitem {
	margin-top:280px;
	margin-left:-35px;
}
.container-12, .container-16, .container-24, .container-32 {
	width:988px;
	margin: 0 auto;
}

.container-32 .grid-1, .container-32 .grid-2, .container-32 .grid-3, .container-32 .grid-4, .container-32 .grid-5, .container-32 .grid-6, .container-32 .grid-7, .container-32 .grid-8, .container-32 .grid-9, .container-32 .grid-10, .container-32 .grid-11, .container-32 .grid-12, .container-32 .grid-13, .container-32 .grid-14, .container-32 .grid-15, .container-32 .grid-16, .container-32 .grid-17, .container-32 .grid-18, .container-32 .grid-19, .container-32 .grid-20, .container-32 .grid-21, .container-32 .grid-22, .container-32 .grid-23, .container-32 .grid-24, .container-32 .grid-25, .container-32 .grid-26, .container-32 .grid-27, .container-32 .grid-28, .container-32 .grid-29, .container-32 .grid-30, .container-32 .grid-31, .container-32 .grid-32 {

}
.logo-img {
	position:absolute;
	z-index:100;
	margin:0;
	padding:0;
	margin-left:-200px;
}
#banners {
	margin-top:215px;
}

#region-content{
	width:596px;
}
article {
	background: transparent url(img/contentbg.png) top left repeat-y;
	width:596px;
	margin-left:2px;
	margin-top:-5px;
}
#region-sidebar-first,.region-sidebar-first {
	width:362px;
	margin:0;
	padding:0;
}
.block-block-1 img {
	margin: 5px 0 0 0;
}
.content{
	padding:30px;
}
#bottomimg {
	margin-left:4px;
}
.newsletter {
	background: transparent url(img/newsletter-bg.png);
	width:363px;
	height:295px;
	margin:0;
	padding:0;
}
.newsinner {
	position:absolute;
	right:0;
	margin:200px 0 0 0;
	padding:0;
	color: #853f19;
}
.newsletter .submit {
	background: transparent url(img/submit.png);
	border: 0;
	padding:0;
	margin:0;
	width:179px;
	height:38px;
	right:0;
	float:right;
}
 input.emailbox{
	width:250px;
}
.social {
	width: 362px;
}
.social img {
	margin:0;
	border:0;
	padding:0;
	display: inline;
}
a, a:link, a:visited {
	color: #5b1300;
	text-decoration:none;
}
a:hover{
	text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'AniversRegular',Arial,Helvetica;
	color: #5b1300;
	font-weight:100;
}
h2 {
	font-size:22px;
}
.fancytitle {
	color: #5b1300;
	font-size:22px;
	width:100%;
	background: url(img/h2.png) bottom left repeat-x;
}

.accleft {
	width:50%;
	float:left;
}

.accright {
	width:50%;
	float:right;
}
.map iframe{
	margin: 0 auto;
	border: 2px solid #ba9b80;
}

.press p.indent {
text-indent:25px;
margin-top:0;
padding-top:0;
margin-bottom:0;
padding-bottom:0;
}
.press p, .press h5 {
margin-top:0;
padding-top:0;
margin-bottom:0;
padding-bottom:0;
}
.press h5 {
	margin-top:20px;
}

.press h4 {
	margin-top:2px;
}
.page-calendar .grid-12, .page-calendar .content {
	width:976px;
}
.page-calendar #zone-content {
		width:976px;
}
.page-calendar .view-id-calendar {
			width:976px;
		background: transparent url(img/calendarbg.png) 0 0 repeat-y;

}
.page-calendar.view-dom-id-1 {
	
		background: transparent url(img/calendarhead.png) 0 0 no-repeat;
	}
.page-calendar .calendar-calendar table  tr{
			width:976px;
			padding : 0 20px 0 20px;
}
.page-calendar .view-content .calendar-calendar {
			width:976px;

}